.awe {
  width: 11%;
  position: relative;
  left: 700px;
  font-size: 222%;
  font-style: italic;
  font-weight: 100;
  margin-top: 33px;
  margin-bottom: 55px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
