.Cart {
  position: fixed;
  height: 666px;
  width: 555px;
  overflow: auto;
  left: 60%;
  top: 10%;
  background-color: rgb(240, 238, 238);
  z-index: 1;
  display: block;
}

.fnidi {
  position: relative;
  left: 222px;
  font-size: 22px;
  font-family: cursive;
}

.dnidf {
  display: flex;
  position: relative;
  top: 44px;
  margin-left: 22px;
  grid-gap: 88px;
  left: 44px;
}

.dnidr {
  border-bottom: 1px solid #1b0606;
  font-size: 33px;
  text-align: center;
  font-weight: bold;
}

.sdnjsdn {
  position: relative;
  left: 94%;
  cursor: pointer;
  background-color: brown;
  width: max-content;
  padding: 6px;
}

.ndndijdf {
  position: relative;
  left: 42%;
  cursor: pointer;
  background-color: rgb(17, 45, 228);
  width: max-content;
  padding: 6px;
  top: 18%;
}
